<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Conforming Contact Info.</title>
</head>
<body>

    <p th:inline="text">
        Contact First Name: [[${contact.firstName}]].<br />
        Contact Last Name: [[${contact.lastName}]].<br />
        Contact Email: [[${contact.email}]].<br />
        Contact Phone Number: [[${contact.phoneNumber}]].<br />
        Address: [[${contact.address}]].<br />
        Contact City: [[${contact.city}]].<br />
        Contact State: [[${contact.state}]].<br />
        Contact Phone Number: [[${contact.phoneNumber}]].<br />
        Contact Zipcode: [[${contact.zipcode}]].<br />

    </p>

</body>
</html>